<div class="banner">
  <div class="banner-content">
    <h1>Doses & Mimosas</h1>
    <span id= "typed"></span>
    <div>
      <%= link_to 'Add Cocktail', new_cocktail_path, :class => 'bttn-dark'  %>
   </div>
 </div>
</div>
