<div class="grid-item" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path "#{cocktail.photo.blank? ? 'jwl0tf08irjfs4qq4g3o.jpg' : cocktail.photo}", height: 300, width: 400, crop: :fill %>')">
    <%= link_to cocktail_path(cocktail), :class => 'cocktail-link' do %>
    <div class="card-title">
        <%= cocktail.name %>
    </div>
    <% end %>
  <div class="delete-link">
    <%= link_to cocktail_path(cocktail), method: :delete, data: {confirm: "Dumb idea"} do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
</div>
