<div class="big-box">
  <h1 class= 'header'>Cocktails</h1>
  <div class="cocktail-list">
    <%= render @cocktails %>
  </div>
  <div>
   <%= link_to 'Add Cocktail', new_cocktail_path  %>
 </div>
</div>


