// Specific CSS for your home-page
.big-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.cocktail-list {
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
}

.grid-item {
  height: 170px;
  width: 30%;
  background-image: url(mojito.jpeg);
  background-position: center;
  background-size: cover;
  margin: 15px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-title {
  font-weight: bold;
  font-size: 25px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: $main-red;
  &:hover{
    opacity: 0.9;
  }
}

.cocktail-link {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  &:hover{
    text-decoration: none;
  }
}

.delete-link {
  position: absolute;
  top: 5px;
  right: 7px;
  z-index: 2;
}

.fa-trash-alt {
  color: $main-red;
}
