.footer {
  background: $main-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: $main-white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $main-white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $main-red;
  opacity: 1;
}
.footer .fa-heart {
  color: $main-red;
}
